body{
    background-color: #F5EDDC;
  }
  hr{
    border-style:none;
    border-top-style: dotted;
    border-color: black;
    border-width: 10px;
    width: 10%;
    
  }
  h1{
    color: blueviolet;

  }
  h2{
    color:blue;
    text-align: left;
  }